.ratingLabel {
  font-size: 12px;
  line-height: normal;
}

.baseGraphContainer {
  height: 10px;
  width: 200px;
  background-color: var(--gray300);
  align-self: center;
  border-radius: 50px;
}

.coloredGraphContainer {
  height: 10px;
  width: 0px;
  background-color: var(--amber);
  align-self: center;
  border-radius: 50px;
}
