.root {
  .buttonActive {
    border-color: var(--primary);

    .buttonActiveText {
      color: var(--primary);
    }
  }

  .buttonInActive {
    .buttonInActiveText {
      color: var(--paleSky);
    }
  }
}
