@media screen and (max-width: 1280px) {
  .text {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 639px) {
  .text {
    font-size: 2rem;
  }
}
