.container {
  border-radius: 4px;
}

.nameText {
  font-size: 16px;
}

.dateAndVariationText {
  font-size: 12px;
  color: var(--gray900);
  line-height: normal;
}

.descriptionText {
  line-height: normal;
  font-size: 16px;
  color: var(--gray900);
}
